.graph-modal__close {
  top: 40px;
  right: 40px;
  width: auto;
  height: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--descr-color);
  @include high-tablet {
    top: 24px;
    right: 24px;
  }
  @include small-tablet {
    top: 10px;
    right: 10px;
  }
}

.graph-modal {
  &::before {
    @include tablet {
      display: none;
    }
  }
}

.popup {
  border-radius: 20px;
  padding: 40px;
  &__top {
    margin-bottom: 40px;
    display: flex;
    @include high-tablet {
      margin-bottom: 20px;
    }
  }
  &__image {
    margin-right: 40px;
  }
  &__name {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--dark-color);
  }
  &__post {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--descr-color);
  }
  &__bottom-content {
    max-height: 375px;
    padding-top: 20px;
    .simplebar-track.simplebar-vertical {
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 40px;
      width: 7px;
      background-color: rgba(20, 16, 36, 0.08);
    }
    .simplebar-scrollbar {
      &::before {
        left: 0;
        right: 0;
        opacity: 1;
        width: 5px;
        border-radius: 40px;
        background-color: var(--brand-color);
      }
    }
  }
  &__descr {
    margin-bottom: 40px;
  }
  &__text {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--dark-color);
  }
  &__subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
  }
  @include small-tablet {
    padding-top: 80px;
  }
  @include high-tablet {
    padding: 24px;
  }
}

.social {
  display: flex;
  align-items: center;
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__link {
    display: block;
    width: 30px;
    height: 30px;
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      fill: var(--brand-color);
    }
  }
}

.tabs {
  &__top {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--brand-color);
  }
  &__nav {
    max-width: 70%;
    @include flex-all-sb;
    @include mobile {
      flex-wrap: wrap;
    }
  }
  &__nav-item {
    @include mobile {
      margin-right: 40px;
      margin-bottom: 20px;
    }
  }
  &__nav-btn {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--dark-color);
    &:focus {
      background-color: transparent;
      color: var(--brand-color);
    }
  }
  &__nav-btn--active {
    outline: none;
    background-color: transparent;
    color: var(--brand-color);
  }
}

