<section class="benefits section-offset">
  <div class="container">
    <h2 class="benefits__title title">Також ти отримаєш:</h2>
    <ul class="list-reset benefits__list">
      <li class="benefits__item">
        <h3 class="benefits__subtitle">Цифровий підручник</h3>
        <p class="benefits__descr">
          Займайся
          на онлайн-платформі
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">Розмовний клуб</h3>
        <p class="benefits__descr">
          Практикуй розмовні
          навички, знаходь друзів
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">
          Куратор
          <span class="tooltip">
            <button class="btn-reset tooltip__btn" aria-describedby="tool">
              <svg class="">
                <use xlink:href="img/sprite.svg#tooltip-icon"></use>
              </svg>
            </button>
            <span class="tooltip__txt" role="tooltip" id="tool">
              <span class="visually-hidden">Тултіп: </span>
              Можна обрати самостійно
            </span>
          </span>
        </h3>
        <p class="benefits__descr">
          Персональний куратор
          гарантує прогрес
        </p>
      </li>
    </ul>
  </div>
</section>
