<header class="header">
  <div class="container-fluid header__container">
    <a href="" class="logo footer__logo">
      <img loading="lazy" src="img/svg/logo.svg" class="image" width="60" height="37" alt="logo school">
    </a>
    <nav class="nav" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#about" class="nav__link" data-menu-item data-scroll>Про школу</a></li>
        <li class="nav__item"><a href="#trainers" class="nav__link" data-menu-item data-scroll>Вчителі</a></li>
        <li class="nav__item"><a href="#price" class="nav__link" data-menu-item data-scroll>Вартість</a></li>
      </ul>
      <button class="btn-reset burger-close" aria-lable="Закрыть меню" data-menu-close></button>
    </nav>
    <a href="tel:+442080297573" class="phone header__phone">+44 208 029 7573</a>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
