<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Онлайн-школа англійської
        <span class="hero__title-text">
          Вчи англійську онлайн - де і коли зручно
        </span>
      </h1>
      <a href="#price" class="hero__link btn btn-reset" data-scroll>Записатися на урок</a>
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="img/hero-img.avif" type="image/avif">
        <source srcset="img/hero-img.webp" type="image/webp">
        <img loading="lazy" src="img/hero-img.png" class="image" width="783" height="917" alt="Hero image">
      </picture>
    </div>
  </div>
</section>
