<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрити модальне вікно">Закрити</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <source srcset="img/trainer-1.avif" type="image/avif">
            <source srcset="img/trainer-1.webp" type="image/webp">
            <img loading="lazy" src="img/trainer-1.jpg" class="image" width="160" height="222" alt="Катерина Ємільчина">
          </picture>
        </div>
        <div class="popup__info">
          <span class="popup__name">
            Катерина Ємільчина
          </span>
          <div class="popup__post">Філолог, педагог</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#Instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup">
          <div class="tabs__top">
            <ul class="list-reset tabs__nav">
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Освіта</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Досвід роботи</button>
              </li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Нагороди</button></li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Вересень 1995 — Червень 2000</p>
                  <p class="popup__text">Київський Національний Лінгвістичний Університет</p>
                  <p class="popup__text">Факультет: Германської філології</p>
                  <p class="popup__text">Спеціальність: Викладання іноземних мов, педагогіка</p>
                  <p class="popup__text">Форма навчання: Денна</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курси і тренінги</h3>
                  <div class="popup__descr">
                    <p class="popup__text">Листопад 2020 — Лютий 2021</p>
                    <p class="popup__text">Програма напряму психології в галузі навчання</p>
                    <p class="popup__text">Форма навчання: Онлайн</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Вересень 1995 — Червень 2000</p>
                  <p class="popup__text">Київський Національний Лінгвістичний Університет</p>
                  <p class="popup__text">Факультет: Германської філології</p>
                  <p class="popup__text">Спеціальність: Викладання іноземних мов, педагогіка</p>
                  <p class="popup__text">Форма навчання: Денна</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курси і тренінги</h3>
                  <div class="popup__descr">
                    <p class="popup__text">Листопад 2020 — Лютий 2021</p>
                    <p class="popup__text">Програма напряму психології в галузі навчання</p>
                    <p class="popup__text">Форма навчання: Онлайн</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">Вересень 1995 — Червень 2000</p>
                  <p class="popup__text">Київський Національний Лінгвістичний Університет</p>
                  <p class="popup__text">Факультет: Германської філології</p>
                  <p class="popup__text">Спеціальність: Викладання іноземних мов, педагогіка</p>
                  <p class="popup__text">Форма навчання: Денна</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Курси і тренінги</h3>
                  <div class="popup__descr">
                    <p class="popup__text">Листопад 2020 — Лютий 2021</p>
                    <p class="popup__text">Програма напряму психології в галузі навчання</p>
                    <p class="popup__text">Форма навчання: Онлайн</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
