<section class="tarifs" id="price">
  <div class="container">
    <h2 class="title tarifs__title">Обрати пакет</h2>
    <ul class="list-reset tarifs__list">
      <li class="tarifs__item tarifs__item--active">
        <h3 class="tarifs__subtitle">Початковий</h3>
        <div class="tarifs__price">2000 грн</div>
        <p class="tarifs__descr">
          10 занять + словник
        </p>
        <button class="btn-reset btn tarifs__btn">Залишити заявку</button>
      </li>
      <li class="tarifs__item">
        <h3 class="tarifs__subtitle">Середній</h3>
        <div class="tarifs__price">3200 грн</div>
        <p class="tarifs__descr">
          14 занять + словник, 2 спеціальних тематики
        </p>
        <button class="btn-reset btn tarifs__btn">Залишити заявку</button>
      </li>
      <li class="tarifs__item">
        <h3 class="tarifs__subtitle">PRO</h3>
        <div class="tarifs__price">6000 грн</div>
        <p class="tarifs__descr">
          20 занять + словник, доступ до усіх матеріалів на платформі
        </p>
        <button class="btn-reset btn tarifs__btn">Залишити заявку</button>
      </li>
    </ul>
  </div>
</section>
