<section class="trainers section-offset" id="trainers">
  <div class="container">
    <h2 class="title trainers__title">Наші викладачі</h2>
  </div>
  <div class="trainers__wrapper">
    <div class="swiper trainers__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-1.avif" type="image/avif">
              <source srcset="img/trainer-1.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-1.jpg" class="image trainers__img" width="360" height="500"
                alt="Ирина Лайм">
            </picture>
            <div class="trainers__name">Катерина Ємільчина</div>
            <div class="trainers__post">Філолог, педагог</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-1">Детальніше</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-2.avif" type="image/avif">
              <source srcset="img/trainer-2.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-2.jpg" class="image trainers__img" width="360" height="500"
                alt="Марина Орлова">
            </picture>
            <div class="trainers__name">Ангеліна Бистрицька</div>
            <div class="trainers__post">Філолог TOEFL Certificate</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-2">Детальніше</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-3.avif" type="image/avif">
              <source srcset="img/trainer-3.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-3.jpg" class="image trainers__img" width="360" height="500"
                alt="Максим Петров">
            </picture>
            <div class="trainers__name">Андрій Музинчишин</div>
            <div class="trainers__post">Філолог</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-3">Детальніше</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-4.avif" type="image/avif">
              <source srcset="img/trainer-4.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-4.jpg" class="image trainers__img" width="360" height="500"
                alt="Константин Назаров">
            </picture>
            <div class="trainers__name">Alan Thomas</div>
            <div class="trainers__post">TOEFL Certificate</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-4">Детальніше</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-5.avif" type="image/avif">
              <source srcset="img/trainer-5.webp" type="image/webp">
              <img loading="lazy" src="img/trainer-5.jpg" class="image trainers__img" width="360" height="500"
                alt="Лиза Весенняя">
            </picture>
            <div class="trainers__name">Ганна Омельченко</div>
            <div class="trainers__post">Філолог перекладач, педагог</div>
            <button class="btn-reset trainers__btn" data-graph-path="trainer-5">Детальніше</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="trainers__nav">
      <div class="swiper-scrollbar trainers__scroll"></div>
    </div>
  </div>
</section>
